body{
    background-color: lightpink;
    
  }
  /* Class */
section > #intro {
    background-color: yellowgreen;
  }
  /* ID */
#intro{
    background-color: red;
  }
  p#postBody{
      text-decoration: overline;
  }
  h1{
    background-color: purple;
    font:72pt Georgia italic
  }

  /* anything i write here can be seen  */